@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.other {
  color: #c0cde2;
}

.myself {
  color: #f9d9a9;
}

.fa-file-o, .fa-file-image-o {
  font-size: 16px;
  color: gray;
  cursor: pointer;
}
